input {
    text-align: center;
    color: #5a5a5a;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.bkgdBooking {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    margin-top: 10%;
    margin-left: 25%;
}

.phoneNum {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

.h2Booking {
    color: #5a5a5a;
    text-align: center;
    color: #5a5a5a;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    position: absolute;
    top: 7%;
    left: 36%
}

.bookInfo {
    color: #5a5a5a;
    text-align: center;
    color: #5a5a5a;
    opacity: 0.6;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

