a {
    color: white;
    background-color: #66b26c;
    box-shadow: rgba(0,0,0,0.6) 0px 1px 3px;
    padding: 20px 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border-radius: 150px;
    font-family: Verdana;
    line-height: 10px;
    position: relative;
    left: 31%;
    margin-left: 5%;
    margin-top: 25%;
}

body {
    background: #66b26c;
}
