a {
    color: white;
    background-color: #66b26c;
    box-shadow: rgba(0,0,0,0.6) 0px 1px 3px;
    padding: 20px 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    border-radius: 150px;
    font-family: 'Quicksand', sans-serif;
    line-height: 10px;
    position: relative;
    margin-left: 25%;
    margin-top: 28%;
}

body {
    background: #66b26c;
}

img{
    border-radius: 50px;
    position: absolute;
    margin-top: 5%;
    margin-left: -37.5%;
}
