

.h2Appt {
    color: #5a5a5a;
    font-style: normal;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    position: relative;
    top: 5%;
}

.bkgdAppt {
    width: 700px;
    height: 700px;
    background-color: white;
    position: relative;
    left: 22%;
    border-radius: 50px;
    margin-top: 8.5%;
}

input {
    text-align: center;
    color: #5a5a5a;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.apptInput {
    position: relative;
    width: 50%;
    margin-left: 32%;
    margin-top: 8%;
}

.datepicker {
    position: relative;
    width: 50%;
    left: 101%;
    margin-top: 29%;
}

.to {
    color: #5a5a5a;
    font-style: normal;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 19%;
}

.subject {
    color: #5a5a5a;
    font-style: normal;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 31%;
}

.message {
    color: #5a5a5a;
    font-style: normal;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 43%;
}

.refer {
    color: #5a5a5a;
    font-style: normal;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 57%;
}

.time {
    color: #5a5a5a;
    font-style: normal;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 68%;
}

.apptButton {
    background-color: #66b26c;
    box-shadow: rgba(0,0,0,0.6) 0px 1px 3px;
    padding: 15px 30px;
    border: none;
    display: inline-block;
    border-radius: 150px;
    position: relative;
    left: 1%;
    margin-left: 42%;
    margin-top: 10%;
    color: white;
    font-size: 30px;
}
